h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif !important;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	border-bottom: 0 !important;
}

/* Dialog formatting
----------------------------------*/
label.dialog { display: block; margin: 0px; width: 7em; float: left; vertical-align: middle; }


/* Input formatting
----------------------------------*/
button.big { font-size:200%; }

.ui-label-big  
{
    font-weight: bolder;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 2.5em;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #000000;
	opacity: .5;
	filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.7);
}

input {
	border: solid 1px #BBBBBB;
}

input:hover
{
    border: solid 1px #85b1de;
	background: #E0EDF5;
}

/* Misc
-----------------------------------*/
.centered {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
}

/* Main Body
-----------------------------------*/
body {
	background-image: url('/images/bg.png');
	background-repeat: repeat-x;
	background-color: #A7CDE4;
}

/* Global container
-----------------------------------*/
#glContainer 
{
    height: 93px;
    display: block;
}

/* Global header
-----------------------------------*/
#glPrimaryHeader 
{
    float: left;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: inherit;
}

/* Global navigation
-----------------------------------*/
#glPrimaryNavigation 
{    
    float: right;    
    background: #dfeffc;
    border: 2px solid #79b7e7;
    margin-top: 0px;
    margin-right: 15px;
}
#glPrimaryNavigation ul {
    float: left;
    background: right bottom no-repeat;
    padding: 2px .8em 2px;
    margin: 0;    
}
#glPrimaryNavigation li {
    float: left;
    list-style: none;
    margin: 0;
    background: none;
    padding: 0;
}
#glPrimaryNavigation li a {
    float: left;
    padding: 0 0.8em;
    line-height: 25px;
    font-size: 1.2em;
    color: #1d5987;
    text-decoration: none;
    margin-bottom: 2px;
}
#glPrimaryNavigation li a:hover {
    color: #1d5987;
    border-bottom: 2px solid #79b7e7;
    margin-bottom: 0;
}
#glPrimaryNavigation li a:active {
    color: #1d5987;
    border-bottom: 2px solid #e17009;
    margin-bottom: 0;
}

/* Workspace container
-----------------------------------*/
#wsContainer 
{
    display: block;
    margin-top: 20px;    
    min-height: 200px;
}

/* Workspace navigation
-----------------------------------*/
#wsPrimaryNavigation
{
    position: relative;
    float: left;
    margin-left: -7px;
    border: 0px;
    width: 170px;
    min-height: 200px;
}

/* Workspace content
-----------------------------------*/
#wsPrimaryContent
{
}

/* Global footer
-----------------------------------*/
#glFooter
{
    min-height: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}